<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunhongxu.a36kr">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".controler.app.KrApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controler.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controler.activity.WelcomeActivity" />
        <activity android:name=".controler.activity.SearchActivity" />
        <activity android:name=".controler.activity.StudyActivity" />
        <activity android:name=".controler.activity.FindPersonActivity" />
        <activity android:name=".controler.activity.RecentAtyActivity" />
        <activity android:name=".controler.activity.LoginActivity" />
        <activity android:name=".controler.activity.EquityPersonActivity" />
        <activity android:name=".controler.activity.BusinessPersonActivity" />
        <activity android:name=".controler.activity.SetActivity" />
        <activity android:name=".controler.activity.NewsDetailsActivity" />
        <activity android:name=".controler.activity.RotateDerailsActivity" />

    </application>

</manifest>